.navbar {
  display: flex;
  flex-direction: row;
  background: rgb(19, 49, 72);
  background: linear-gradient(
    180deg,
    rgba(19, 49, 72, 1) 0%,
    rgba(15, 37, 54, 1) 80%,
    rgba(8, 21, 31, 1) 100%
  );
  height: auto;
  width: 100%;
}
.navbar > .logo-img {
  margin-left: 1rem;
  width: 5%;
  height: auto;
}
.navbar > .navbar-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: 'none';
}
.navbar > .navbar-list > li > a,
.navbar > .navbar-list > li > a::after {
  text-decoration: none;
  color: white;
}
